.content{
    @include vars.flex(space-between, center, row, nowrap);
    @include vars.wide();
    max-width:1600px;
    margin:0 auto;
    padding:0 100px
}

.site-info{
    @include vars.flex(flex-start, flex-end);
    margin-bottom:40px;
    line-height:1.6;
    .title{
        margin-right:20px
    }
    .type{
        font-size:24px;
        color:#c6c6c6
    }
}

.more{
    position:relative;
    display:inline-block;
    padding-left:15px;
    transform:translateY(50px);
    opacity:0;
    @include vars.transitionDefault((transform, opacity), 1s);
    .clip{
        position:absolute;
        left:15px;
        top:50%;
        transform:translateY(-50%);
        clip-path:circle(35px at 0 0);
        color:#fff;
        opacity:0;
        @include vars.transitionDefault(opacity);
        transition-delay:0.4s;
        z-index:1
    }
    .circle{
        position:absolute;
        left:0;
        top:50%;
        @include vars.circle(50px);
        background:#000;
        transform:translateY(-50%) scale(0);
        @include vars.transitionDefault(transform);
        transition-delay:0.4s
    }
}