@use '@scss/common/variables' as vars;

.visual{
    position:relative;
    width:100%;
    
    .item{
        width:100%;
        height:100%;
        padding:10rem 0;
        .bg{
            @include vars.wide(abs);
            background:#fff no-repeat 50% / cover;
            z-index:-1
        }
    }

    .content{
        @include vars.flex(space-between, center, row, nowrap);
        @include vars.wide();
        max-width:1600px;
        margin:0 auto;
        padding:0 100px
    }

    .site-info{
        @include vars.flex(flex-start, flex-end);
        margin-bottom:40px;
        line-height:1.6;
        .title{
            font-size:60px;
            margin-right:20px;
            line-height:1;
            @include vars.fontWeight(750)
        }
        .type{
            font-size:24px;
            color:#c6c6c6
        }
    }

    .more{
        position:relative;
        display:inline-block;
        padding-left:15px;
        transform:translateY(50px);
        opacity:0;
        @include vars.transitionDefault((transform, opacity), 1s);
        .clip{
            position:absolute;
            left:15px;
            top:50%;
            transform:translateY(-50%);
            clip-path:circle(35px at 0 0);
            color:#fff;
            z-index:1
        }
        .circle{
            position:absolute;
            left:0;
            top:50%;
            @include vars.circle(50px);
            background:#000;
            transform:translateY(-50%)
        }
    }
    
    .img{
        position:relative;
        & > *{
            border-radius:10px;
            overflow:hidden
        }
        .pc{
            width:850px;
            height:500px;
            background:#f1f1f1;
            box-shadow:15px 15px 15px rgba(0,0,0,.1)
        }
        .mobile{
            position:absolute;
            right:-50px;
            bottom:-50px;
            width:200px;
            height:350px;
            background:#c1c1c1;
            box-shadow:0 0 25px rgba(0,0,0,.4)
        }
    }

    .swiper-slide-active {
        .txt-up *{
            transform:translateY(0)
        }
        .more{
            transform:translateY(0);
            opacity:1
        }
    }

    swiper-container::part(pagination){
        @include vars.flex(center)
    }
    swiper-container::part(bullet),
    swiper-container::part(bullet-active){
        position:relative;
        width:auto;
        height:auto;
        border-radius:0;
        border:none;
        padding:10px;
        margin:0 3px;
        background:transparent;
        opacity:1;
        cursor:pointer;
        &::after{
            @include vars.pseudo(8px, 8px, block);
            border-radius:50%
        }
    }

    swiper-container::part(bullet){
        &::after{
            background:#d6d6d6
        }
    }
    swiper-container::part(bullet-active){
        &::after{
            background:vars.$theme
        }
    }
}