@use "@scss/common/variables" as vars;

.detail{
    @include vars.wide(abs);
    position:fixed;
    background:#fff;
    overflow:auto;
    z-index:99;
    .inner{
        @include vars.flex(space-between, stretch);
        max-width:1400px;
        padding:40px 20px;
        margin:0 auto;
        @include vars.custom(1000px){
            padding-top:9.375rem
        }
        @include vars.custom(875px){
            display:block;
        }
    }

    .img{
        width:70%;
        text-align:center;
        img{
            width:auto
        }
        @include vars.custom(875px){
            width:100%
        }
    }

    @import "./top";
    @import "./text";
    @import "./loading";
    
}