@use "./variables" as vars;
@import "./fonts";
@import "./reset";
@import "./class";

html,
body{
    font-family: "mont", "pre";
    font-size: 16px;
    line-height: 1;
    @include vars.fontWeight(400);
    color: #272727;
    letter-spacing: -.04em;
    word-break: keep-all;
    touch-action: manipulation
}

main{
    section{
        position:relative
    }
    .inner{
        // padding:0 150px;
        // @include vars.custom(1500px){
        //     padding:0 6.6vw
        // }
    }
    .title{
        font-size:60px;
        line-height:1;
        @include vars.fontWeight(750)
    }
}

.txt-up{
    overflow:hidden;
     > *{
        transform:translateY(100%);
        @include vars.transitionDefault(transform, 1s)
    }
}

// delay
@for $i from 1 through 20{
    *[class*=--#{$i}]{
        transition-delay:#{$i*0.1}s
    }
}