.list{
    position:relative;
    max-width:1300px;
    margin:100px auto;
    .box{
        position:absolute;
        height:350px;
    }
    button{
        position:relative;
        @include vars.wide();
        padding:25px;
        overflow:hidden
    }
    .thumnail{
        @include vars.wide();
        border-radius:10px;
        box-shadow:5px 5px 8px rgba(0,0,0,.23);
        overflow:hidden
    }
    
    @import "./card.scss";
    
    @include vars.custom(700px){
        margin:5rem auto;
        .box{
            height:25rem;
            padding:2rem
        }
    }
    @include vars.custom(560px){
        .box{
            padding:2rem
        }
    }
    @include vars.custom(500px){
        .box{
            height:calc(100vw - 40px)
        }
    }
}