.top{
    @include vars.flex(space-between, flex-end);
    max-width:1300px;
    padding:150px 25px 50px;
    margin:0 auto;
    .circle{
        display:block;
        @include vars.circle(70px);
        background:#cdcdcd;
    }
    .title{
        margin:20px 0 10px;
        div{
            overflow:hidden
        }
    }
    .caption{
        font-size:18px;
        color:#6c6c6c
    }
    .select{
        position:relative;
        &::after{
            @include vars.pseudo(0, 0);
            right:5px;
            top:7px;
            border-top:10px solid vars.$theme;
            border-left:6px solid transparent;
            border-right:6px solid transparent
        }
    }
    select{
        padding:5px 40px 5px 10px;
        color:#6c6c6c;
        font-size:18px;
        border-bottom:1px solid #6c6c6c
    }
    
    @include vars.custom(700px){
        padding:10rem 2.5rem 5rem
    }
}
